{% extends 'head.html' %}
{% block body %}
{% for key,value in info.iterrows() %}
    <div class="btn-toolbar justify-content-between pt-4 ps-4 pe-4" role="toolbar"
         aria-label="Toolbar with button groups">
        <div class="btn-group" role="group" aria-label="First group">
           <a href="{{ url_for('profile') }}"> <button type="button" class="btn btn-dark"><i class="bi
           bi-arrow-left"></i></button>
        </a></div>
        <div class="btn-group" role="group" aria-label="Second group">
           <a href="{{url_for('edit_record',bild_id = value['ID'])}}"> <button type="button"  class="btn btn-success me-1"><i class="bi
           bi-pencil-fill"></i></button></a>
          <button type="button" class="btn btn-danger ms-1" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-trash"></i></button>
       </div>

    </div>


        <div class="text-center" style="margin-top:1rem">
            <div class="container" style="width:90%">
                <h2 style="text-align:center;font-weight:bold;font-size:2rem"> {{ value['Lietotaja_nosaukums'] }}</h2>
            </div>

            <img class="rounded mx-auto d-block" src="data:image/jpeg;base64,{{ value['Bilde'] }}" style="max-width:90%;
    margin-top: 1rem">
        </div>

        <div class="container" style="margin-top:1rem;width:85%">
            <h4 style="margin-top:1rem">{{ value['Nosaukums1'] }}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-success" style="width: 0;"
                     id="prg1">{{ value['Procenti1']|round(1) }}%
                </div>
            </div>
            <h4 style="margin-top:1rem">{{ value['Nosaukums2'] }}</h4>
            <div class="progress">

                <div class="progress-bar progress-bar-striped bg-info" style="width: 0;"
                     id="prg2">{{ value['Procenti2']|round(1) }}%
                </div>
            </div>
            <h4 style="margin-top:1rem">{{ value['Nosaukums3'] }}</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-striped bg-warning" style="width: 0;"
                     id="prg3">{{ value['Procenti3']|round(1) }}%
                </div>
            </div>
        </div>

        <div class="container" style="margin-top:1.5rem;width:85%;font-size:1.2rem">
            {% if value['Zvejas_datums'] %}
                <div class="row">
                    <div class="col-6">
                        <strong>Date</strong>:
                    </div>
                    <div class="col-6">
                        {{ value['Zvejas_datums'] }}
                    </div>
                </div>
            {% endif %}
            {% if value['Zvejas_vieta'] %}
                <div class="row" style="margin-top: 0.5rem">
                    <div class="col-6">
                        <strong>Location:</strong>
                    </div>
                    <div class="col-6">
                        {{ value['Zvejas_vieta'] }}
                    </div>
                </div>
            {% endif %}
            {% if value['svars'] %}
                <div class="row" style="margin-top: 0.5rem">
                    <div class="col-6">
                        <strong>Weight:</strong>
                    </div>
                    <div class="col-6">
                        {{ value['svars'] }}kg
                    </div>
                </div>
            {% endif %}
            {% if value['izmers'] %}
                <div class="row" style="margin-top: 0.5rem">
                    <div class="col-6">
                        <strong>Size:</strong>
                    </div>
                    <div class="col-6">
                        {{ value['izmers'] }}m
                    </div>
                </div>
            {% endif %}
        </div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="{{ url_for('delete_record',bild_id = value['ID']) }}"><button type="button" class="btn btn-danger">Delete</button>  </a>
      </div>
    </div>
  </div>
</div>

        <script>

            $("#prg1").animate({
                width: "{{ value['Procenti1'] }}%",
            }, 1500);

            $("#prg2").animate({
                width: "{{ value['Procenti2'] }}%",
            }, 1500);

            $("#prg3").animate({
                width: "{{ value['Procenti3'] }}%",
            }, 1500);
        </script>
    {% endfor %}
{% endblock %}

