<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="{{ url_for('static', filename='css/mycss.css') }}" rel="stylesheet">
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css"/>
    {{ dropzone.load_css() }}
</head>

<body>


<div class="grid">
    {% for photo in photos %}
        <div class="grid-item">
            <figure class="figure">
                <a data-toggle="modal" data-target="#imgmodal{{ loop.index }}">
                    <img class="img-thumbnail" src="data:image/jpeg;base64,{{ photo }}" alt=""
                         data-toggle="modal{{ loop.index }}" data-target="#exampleModal{{ loop.index }}"
                         id="img{{ loop.index }}">
                </a>
                <figcaption class="figure-caption">Kkāds info</figcaption>
            </figure>
        </div>
    {% endfor %}
</div>


<!-- Modal -->
{% for photo in photos %}
    <div class="modal fade" id="imgmodal{{ loop.index }}" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Zivs nosaukums...</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-8">
                            <img class="figure-img img-fluid rounded" src="data:image/jpeg;base64,{{ photo }}" alt="">
                        </div>
                        <div class="col-4">
                            hey
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

{{ dropzone.create(action='/')}}


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"/>
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"/>
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.1/masonry.pkgd.min.js"/>
</script>
<script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.min.js"/>
</script>
{{ dropzone.config() }}
{{ dropzone.load_js() }}
<script>
    $(".grid").imagesLoaded(function () {
        $(".grid").masonry({
            itemSelector: ".grid-item"
        });
    });
</script>
</body>
</html>