{% extends "head.html" %}
{% block body %}
    <div class="d-flex pt-4 ps-4 justify-content-center align-items-center">
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, message in messages %}
                     <div class="alert alert-{{ category }}"><strong>{{ message
                             }}</strong></div>
                    {#                        <p class="alert alert-{{ category }}">#}
{#                    <p class="alert alert-success">{{ message }}</p>#}
                    {#                        </p>#}
                {% endfor %}
            {% endif %}
        {% endwith %}
     </div>


    <form method='POST' action="">
        <div class="form-group m-4 mt-2">
            {{ form.hidden_tag() }}
            <h1 class="display-1 text-center mb-5"><strong>Log In</strong></h1>
            <div class="form-floating mb-3 me-2">
                {% if form.username.errors %}
                    {{ form.username(class="form-control is-invalid",placeholder="username") }}
                    <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                          {{ error }}
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.username(class="form-control",placeholder="username") }}
                {% endif %}
                {{ form.username.label() }}
            </div>
            <div class="form-floating mb-3 me-2">
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid",placeholder="password") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control",placeholder="password") }}
                {% endif %}
                {{ form.password.label() }}
            </div>

        </div>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
       <div class="container p-4 text-center">
    <h6>Don't have an account? <a class="link-primary" href="javascript:void(0)" onclick="location.href='{{url_for
    ('register')}}'">Create
        one
        now!</a></h6>
       </div>

{% endblock %}