{% extends "head.html" %}
{% block body %}
    <header class="d-flex p-4 justify-content-between" style="background-color: rgb(134, 155, 174)">
        <h3 class="text-white my-auto"> Hello, {{ current_user.name }} </h3>
        <form method='POST' action="{{ url_for('logout') }}">
            <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-right"></i> Sign Out</button>
        </form>
    </header>

    <div class="d-flex justify-content-center pt-4">
        <form action="{{ url_for('photo_upload') }}" method=post enctype=multipart/form-data>
            <div class="input-file-container">
                <input class="input-file" id="my-file" type="file" name="file" accept="image/*"
                       onchange="this.form.submit()">
                <label tabindex="0" for="my-file" class="input-file-trigger"><i class="bi bi-cloud-arrow-up"></i> Upload
                    Fish
                </label>
                <input style="display: none" id="latitude" name="latitude">
                <input style="display: none" id="longitude" name="longitude">
            </div>
            <p class="file-return"></p>
        </form>
    </div>

    <div class="container mt-4">

        {% for array in info %}

            <div class="row g-1 mt-3">
                <div class="col-12">
                    {#            <h2> {{( ''.join(array['Zvejas_datums'].unique())) }}</h2>#}
                    <h5><strong>{{ datumi[(loop.index0)] }}</strong></h5>
                </div>
            </div>
            <div class="row gx-0 gy-1">
                {% for key,value in array.iterrows() %}
                    <div class="col-4">
                        <img class="rounded" src="data:image/jpeg;base64,{{ value['Bilde'] }}"
                             style="width:97%;height:100%; object-fit: cover " id="{{ value['ID'] }}"
                             onclick="window.location.href = '{{ url_for('bilde',bild_id = value['ID']) }}'">
                    </div>
                {% endfor %}
            </div>

        {% endfor %}

    </div>

    <script>document.querySelector("html").classList.add('js');

    var fileInput = document.querySelector(".input-file"),
        button = document.querySelector(".input-file-trigger"),
        the_return = document.querySelector(".file-return");

    button.addEventListener("keydown", function (event) {
        if (event.keyCode == 13 || event.keyCode == 32) {
            fileInput.focus();
        }
    });
    button.addEventListener("click", function (event) {
        fileInput.focus();
        return false;
    });
    fileInput.addEventListener("change", function (event) {
        the_return.innerHTML = this.value;
    });
    $(document).ready(function () {
        navigator.geolocation.getCurrentPosition(success);
    });

    function success(position) {
        document.getElementById('latitude').value=position.coords.latitude;
        document.getElementById('longitude').value=position.coords.longitude;
        {#console.log(position.coords.latitude, position.coords.longitude)#}
    }</script>

{% endblock %}
