<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body>
<form method="post" action="{{ url_for('save_fish') }}" id="edit_form">
    <div class="text-center" style="margin-top:2rem">
        <div class="container" style="width:90%">
            <input type="text" class="form-control" placeholder="Zivs Nosaukums"
                   aria-label="Username" value="{{ predictions[0][0] }}" name="fish_name" style="text-align:
                                           center;font-weight:bold;font-size:2rem"
                   aria-describedby="basic-addon1" style="max-width:90%;display:inline">
        </div>

        <img class="rounded mx-auto d-block" src="data:image/jpeg;base64,{{ blob_photo }}" style="max-width:90%;
    margin-top: 1rem">
    </div>


    <div class="container" style="margin-top:1.5rem;width:85%">
        <h4 style="margin-top:1rem">{{ predictions[0][0] }}</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width: {{ predictions[0][1] }}%;"></div>
        </div>
        <h4 style="margin-top:1rem">{{ predictions[1][0] }}</h4>
        <div class="progress">

            <div class="progress-bar progress-bar-striped" style="width: {{ predictions[1][1] }}%;"></div>
        </div>
        <h4 style="margin-top:1rem">{{ predictions[2][0] }}</h4>
        <div class="progress">
            <div class="progress-bar progress-bar-striped" style="width: {{ predictions[2][1] }}%;"></div>
        </div>
    </div>

    <div class="container" style="margin-top:1.5rem;width:85%">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Date: </span>
            </div>
            <input type="text" class="form-control" placeholder="dd-mm-yyyy" aria-label="Username"
                   aria-describedby="basic-addon1" name="date-inp" value="{{ date }}">
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Size: </span>
            </div>
            <input type="text" class="form-control" placeholder="kg" aria-label="Username"
                   aria-describedby="basic-addon1" name="size-inp">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Weight: </span>
            </div>
            <input type="text" class="form-control" placeholder="m" aria-label="Username"
                   aria-describedby="basic-addon1" name="weight-inp">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">Location: </span>
            </div>
            <input type="text" class="form-control" placeholder="Ķīšezers" aria-label="Username"
                   aria-describedby="basic-addon1" name="locat-inp">
        </div>
    </div>
    <input type="text" name="ai_predict" style="display: none" value="{{ predictions[0][0] }}"/>
    <input type="text" name="blob-file" style="display: none" value="{{ blob_photo }}"/>
    <div class="text-center" style="margin-top:1.5rem">
        <button type="button" class="btn btn-danger" onclick="window.location.href='{{ url_for('profile')
                }}'">Cancel</button>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>


</form>
</body>
</html>